.blog_content{
  height: 100vh;
  @media screen and(min-width: 1400px){
    max-width: 1400px;
    margin: 0 auto;
}
}
.blog_container {
  width: 90%;
  margin: 7rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 3rem;
  overflow: hidden;
  @media screen and(max-width: 700px){
  grid-template-columns: 1fr;
  }
  
  .blog_colum {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    
    .blog {
      background-color: var(--box_bg_clr);
      border-radius: 15px;
      overflow: hidden;
      color: var(--primary_white);
      padding-bottom: 4rem;

      &_image {
        width: 100%;
        height: min-content;
        overflow: hidden;
        img {
          transition: transform 1s;
          width: 100%;
          display: block;
          // height: 100%;

          &:hover {
            transform: scale(1.3);
          }
        }
      }
      &_title {
        font-size: var(--header_font_small);
        text-align: center;
        padding-top: 2rem;
        font-weight: 600;
      }
      &_info {
        width: 100%;
        text-align: center;
        font-size: var(--header_font_extra_small);
        font-weight: 600;
        padding: 2rem;

        .dot {
          font-size: var(--header_font_extra_large);
        }
      }

      button {
        margin-left: 35% !important;
      }

      &_para{
        border-bottom: 2px solid rgba(128, 128, 128, 0.185);
        padding: 1rem 1rem 2rem 1rem;
        font-size: var(--primary_font);
      }
    }
  }
}
